<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>mts</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
</head>
<body>

<div class="container">
    <div class="display-1">Money Transfer System</div>
    <hr/>

    <a href="transfer" class="btn btn-primary">Transfer</a>

    <hr/>

    <div class="row">
        <div class="col-4">
            <div class="card">
                <div class="card-header">Transfer Status</div>
                <div class="card-body">
                    <table class="table table-bordered">
                        <tr>
                            <td>Txn Id</td>
                            <td th:text="${transferStatus.txnId}"></td>
                        </tr>
                        <tr>
                            <td>Message</td>
                            <td th:text="${transferStatus.message}"></td>
                        </tr>
                    </table>
                    <hr/>
<!--                    <div th:text="${exception.message}"></div>-->
                </div>
            </div>
        </div>
    </div>

</div>

</body>
</html>